:root {
  --orange: #E09F3E;
  --red: #540B0E;
  --blue: #335C67;
}

.App {
  
  background-color: var(--orange);
  height: 100%;
}

.Logo {
  height: 80px;
  border-radius: 100%;
  margin-right: 50px;
}

.text-orange{
  font-family: 'Inter', sans-serif;
  font-size: 24pt;
  font-weight: 400;
  font-style: normal;
  color: var(--orange);
}

.Logo-text{
  font-family: 'Inter', sans-serif;
  font-size: 50pt;
  font-weight: 900;
  font-style: italic;
  color: var(--orange);
}

.Btn-auth{
  font-family: 'Inter', sans-serif;
  font-size: 26pt;
  font-weight: 700;
  font-style: normal;
  color: var(--orange);
  background-color: var(--blue);
  border-radius: 50px;
  border: none;
  width: 165px;
  height: 59px;
}
